.t2{
    width: 50%;
    float: right;
}

@media screen and (max-width: 768px) {
    .t2{
        width: 100%;
        float: none;
    }
}

.t1{
    display:inline-Block;
    width:30%;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .t1{
        width: 100%;
        display:block;
        margin-right: 0;
    }
}

.t3{
    
}

@media screen and (max-width: 768px) {
    .t3{
        flex-direction: column;
    }
}

.t2 tr td h3{
 margin-left: 0px;    
}

@media screen and (max-width: 768px) {
    .t2 {
        margin-left: 10px;    
    }
}
#x{
    margin:5px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid gray;
}

#x:hover{
    background-color: black;
    color: white;
    font-weight: 600;
}

#y{
    margin:5px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid gray;
}

#y:hover{
    background-color: black;
    color: white;
    font-weight: 600;
}

#z{
    margin:10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid gray;
}

#z:hover{
    background-color: black;
    color: white;
    font-weight: 600;
}

 select {
   padding:10px;
   border-radius: 5px;
}

#mi ,#pl,#c{
 background-color:white;
 padding: 10px;
 border: 0.5px solid gray;
 border-radius: 5px;
}

#com,#aw{
    border: none;
    background-color: white;
    font-weight: 600;
}

#q{
border: 1px solid black;
border-radius: 5px;
padding: 10px;
background-color: rgb(218, 226, 236);
border: none;
width:100%;

}

span{
    font-weight: 600; 
}

a{
    margin: 5px;
    color: rgb(9, 9, 58);
}

.z1 ul{
    display:flex;
    
}

.z1 ul li{
    list-style:none;
    margin:20px 20px;
    
}

.z2 ul li button{
    position: relative;
    border:none;
    padding: 2px;
  background-color:white;
  font-weight:600;
  text-decoration:none;
}


.z2 ul li button::before{

    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: rgb(83, 22, 195);
    transition: width .3s;
}
.z2 ul li button:hover::before{
    width:100%;
}

.z1{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

@media screen and (max-width: 768px) {
    .z1 {
        width: 100%;
        margin-top: -200px;
    }
}

.z1 {
    width: 100%;
}

.z2 {
    width: 50%;
    margin: auto;
}

.z2 ul {
    display: flex;
    justify-content: space-around;
}



.z1{
    margin-top:300px;
}


.bl button{

margin-left: -30px;
width:40px;
height:40px;
border-radius: 50%;
background-color: #1a114b;
border: none;
color:#1a114b;
}
.gray button{

margin-left: -50px;
width:40px;
height:40px;
font-weight:600;
border-radius: 50%;
background-color: grey;
border: none;
color:gray ;
}
.white button{

margin-left: -70px;
width:40px;
height:40px;
border-radius: 50%;
background-color: rgb(235, 221, 221);
border: none;
color:rgb(235, 221, 221) ;
}
.dark button{

margin-left: -60px;
width:40px;
height:40px;
border-radius: 50%;
background-color: rgb(0, 0, 0);
border: none;
color:black;
}

.bl button:hover{
    color: azure;
}
.gray button:hover{
    color: azure;
}
.dark button:hover{
    color: azure;
}
.white button:hover{
    color: azure;
}

.b hr{
    width: 100%;
}

.z1 hr{
    width: 100%;
}
 

@media screen and (max-width: 600px) {
    .z2 {
        width: 100%;
    }

    .z2 ul {
        flex-direction: column;
        align-items: center;
    }
    
    .z1 {
        position: relative;
        
        margin-top: -10px; /* Set margin-top to -600px */
    }
}

@media screen and (max-width: 600px) {
    .responsive-text {
        font-size: 20px;
        width: 100%;
        word-wrap: break-word; /* Adjust the font size for screens smaller than 600px */
    }

}



#q {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(218, 226, 236);
    border: none;
    width: 100%;
}

.logo img{
    width:100px;
    height: 100px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #q { width: 40%;
        font-size: 14px; /* Adjust the font size for screens smaller than 600px */
        padding: 5px; /* Adjust the padding for screens smaller than 600px */
    }
}



@media (max-width: 600px) {
    .b { width: 100%; }
    #q { font-size: 14px; width: 100%; }
    hr { width: 100%; }
}
@media (min-width: 601px) {
    .b { width: auto; }
    #q { font-size: 16px; }
    hr { width: 200px; }
}

@media screen and (max-width: 900px) {
    .t2 { margin-top: -0px;}
    .z2 {
        width: 100%;
    }

    .z2 ul {
        flex-direction: column;
        align-items: center;
    }
    
    .z1 {
        position: relative;
        
        margin-top: 100px; /* Set margin-top to -600px */
    }
}


.mainiphone img{
    max-width:60%;
    height:auto;
    margin-top:20px;
    background-color:black;}

    @media only screen and (min-width: 900px) {
        .mainiphone img{
            
            width: 500px;
            background-color: red;
        }
    }

    @media only screen and (min-width: 900px) {
        .mainiphone {
            
            width: 600px;
            background-color: red;
        }
    }
    





    
   